.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  h3
  {
    text-align: center;
  }
  .box
  {
    margin:20px;
  }