<div class="box">
  <h3>All Repository</h3>
  <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">SN</th>
          <th scope="col">RName</th>
          <th scope="col">Desc</th>
          <th scope="col">Del</th>
          <th scope="col">Fav?</th>
        </tr>
      </thead>
      <tbody *ngFor="let repo of repoList; index as i">
        <tr id="{{repo.name}}">
          <th scope="row">{{i+1}}</th>
          <td>{{repo.name}}</td>
          <td>{{repo.description}}</td>
          <td><button class="btn" (click)="deleteRepo(repo.name,repo.id)"><i class="fa fa-trash"></i></button></td>
          <td><button type="button" id="{{repo.name+repo.id}}" (click)="saveFavouriteRepo(repo.id,repo.name,repo.description)"  class="btn btn-default btn-sm">
              <i class="fa fa-star-o"></i>
            </button></td>
        </tr>
      </tbody>
    </table>
</div>