<div id='bodybox'>
  <h1><img src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png" alt="Italian Trulli"></h1>
  <h4>GitHub Bot</h4>
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog"><router-outlet></router-outlet></p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <div>
      <input type="text" class="form-control" [(ngModel)]="statement" id="statement" (keyup.enter)="sendRequest()" name="chat" placeholder="Hi there! Type here to talk to me.">
    </div>
    <div class="wrapper">
      <button type="button" id="success" class="btn btn-success" (click)="sendRequest()">Ask</button>
    </div>
  </div>
  <div data-spy="scroll" data-target="#chatlog7" data-offset="0"></div>
</div>
  