<div class="box">
    <form>
        <h3>Create Repository</h3>
        <div class="form-group">
          <input #repoName type="text" class="form-control" id="repoName" placeholder="Enter RepoName">
        </div>
        <div class="form-group">
          <input #description type="text" class="form-control" id="description" placeholder="description">
        </div>
        <div class="wrapper">
          <button type="button" (click)="createRepo(repoName.value,description.value)" class="btn btn-primary">Create</button>
        </div>
      </form>  
</div>